* {
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "roboto", "arial", sans-serif;
}

section {
    position: relative;
    width: 1280px;
    height: 668px;
    background: #F2F8F6;
    margin: auto;
    margin-top: 50px;
}

div.background {
    position:absolute;
    width: 446px;
    height: 437px;
    left: 160px;
    top: 67px;
    background: white;
}

div.border {
    position:absolute;
    width: 446px;
    height: 437px;
    left: 193px;
    top: 115px;
    border: 20px solid #3D8455;
    background: none;
}

img {
    position: absolute;
    left: 305px;
    top: 30px;
}

p.title {
    position: absolute;
    left: 680px;
    top:115px;
    font: 500 50px/59px "roboto", sans-serif;
    font-family: 'Roboto';
    font-style: normal;
}

p.content {
    position:absolute;
    left: 680px;
    top: 191px;
    font: 400 20px/140% "roboto", sans-serif;
    width: 550px;
    height: 230px;
}

ul {
    position:absolute;
    left: 680px;
    top: 444px;
    list-style-type: none;
    font: 500 20px/140% "roboto", sans-serif;
}

.link {
    position: absolute;
    width: 211px;
    height: 57.67px; 
    background: #408858;
    font: 400 24px/220% "roboto", sans-serif;
    color:white;
    left: 680px;
    top: 549px;
    text-align: center;
    text-decoration: none;
}

.link:hover {
    position: absolute;
    width: 215px;
    height: 59px; 
    background: #408858;
    font: 400 22px/250% "roboto", sans-serif;
    color:white;
    left: 678px;
    top: 547px;
}

.link:active {
    position: absolute;
    width: 211px;
    height: 57.67px; 
    font: 400 24px/220% "roboto", sans-serif;
    background: #408858;
    color: white;
    left: 680px;
    top: 549px;
}